[submodule "3p/inih"]
	path = 3p/inih
	url = https://github.com/benhoyt/inih.git
	ignore = dirty
[submodule "3p/libxbr-standalone"]
	path = 3p/libxbr-standalone
	url = https://github.com/Treeki/libxbr-standalone.git
	ignore = dirty
